html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
header {
    height: 10%;
    text-align: center;
}
header h1 {
    position: absolute;
    width: 100%;
}
div[ng-controller], div[ng-init] {
    position: relative;
    height: 90%;
}
yandex-map {
    display: block;
    width: 100%;
    height: 100%;
}
.window {
    background: rgba(255, 255, 255, 0.6);
    position: absolute;
    padding: 10px;
    border-radius: 5px;
    top: 10px;
    left: 10px;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff) format('woff'),
    url(../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}
