<!DOCTYPE html>
<html lang="en" ng-app="ctfmap">
<head>
    <meta charset="UTF-8">
    <title>cbsChat</title>

    <!-- build:css css/vendor.css -->

    <!-- endbuild -->

    <!-- build:css css/main.min.css -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="bower_components/angular-material-icons/angular-material-icons.css">

    <!-- endbuild -->

</head>
<body>



<div class="addPoint">

    <ng-form name="userInfo">
        <md-input-container>
            <label>
                Name
            </label>
            <input ng-model="addPoint.displayName" md-maxlength="20">
        </md-input-container>

        <md-input-container>
            <label>
                About
            </label>
            <input ng-model="profileCtrl.displayName" md-maxlength="20">
        </md-input-container>

        <md-input-container>
            <label>
                Contact
            </label>
            <input ng-model="profileCtrl.displayName" md-maxlength="20">
        </md-input-container>

        <md-input-container>
            <label>
                Adress
            </label>
            <input ng-model="profileCtrl.displayName" md-maxlength="20">
        </md-input-container>



        <md-button class="md-primary" ng-click="profileCtrl.submit()">

            <md-icon class="md-svg-icon" style="width: 24px; height: 24px;">save</md-icon>

            Сохранить
        </md-button>

    </ng-form>

</div>


<br>
<br>

<div ng-controller="MapCtrl as ctrl">
    {{ctrl.teams}}

    <yandex-map center="ctrl.map.center" zoom="ctrl.map.zoom">
        <!-- загружаем текст сообщения в атрибут properties -->
        <ymap-marker ng-repeat="marker in ctrl.markers" index="$index+1" coordinates="marker.coordinates" properties="marker.properties" options="marker.options"></ymap-marker>
    </yandex-map>


</div>

<!-- build:js js/vendor.min.js -->
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/firebase/firebase.js"></script>
<script src="bower_components/angularfire/dist/angularfire.min.js"></script>
<script src="bower_components/angular-ymaps/angular-ymaps.js"></script>

<script src="bower_components/angular-material/angular-material.min.js"></script>
<script src="bower_components/angular-material-icons/angular-material-icons.min.js"></script>

<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>



<!-- endbuild -->

<!-- build:js js/main.min.js -->
<script src="js/app.js"></script>
<script src="js/controllers/map.controller.js"></script>
<script src="js/services/map.service.js"></script>


<!-- endbuild -->


</body>
</html>